header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  background: #fffcf3;
  padding-left: 80px;
  padding-right: 80px;
  p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
  }

  .letterY {
    position: relative;
    left: 2px;
  }

  .letterF {
    position: relative;
    top: 8px;
    right: 2px;
  }
}

.logo {
  margin-bottom: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-button {
  cursor: pointer;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 180ms;
  border-radius: 10px;
  position: fixed;
  top: 21px;
  right: 80px;
  z-index: 4;
  &:hover {
    background-color: #00000018;
  }
}

.ham {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 800ms, stroke-dashoffset 800ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}

.menu {
  position: fixed;
  top: 91px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fffcf3;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
  overflow: hidden;
}

.menu.active {
  transform: translateY(0);
  .p-about {
    animation: slideIn 0.8s forwards;
  }

  .p-skills {
    animation: slideIn 0.7s forwards;
  }

  .p-portfolio {
    animation: slideIn 0.5s forwards;
  }
}

.menu-info {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    width: 580px;
    text-align: center;
  }

  p {
    font-family: "Syne";
    font-weight: 700;
    font-size: 96px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 100px;
    padding-bottom: 10px;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 39px;
      height: 52px;
      border-bottom: 4px solid black;
      border-left: 4px solid black;
      transition: height 100ms ease-in-out 100ms, width 200ms ease-in-out,1
        left 200ms ease-in-out;
      animation: revertColor 0.2s ease-in-out forwards;
    }

    &:hover::after {
      left: 280px;
      right: 0;
      bottom: 0;
      height: 0;
      width: 280px;
      border-bottom: 4px solid black;
      transition: height 50ms ease-in-out, width 200ms ease-in-out,
        left 200ms ease-in-out;
      animation: changeColor 0.5s ease-in-out forwards;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-300%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes changeColor {
  0% {
    border-bottom: 4px solid black;
    border-left: 4px solid black;
  }
  50% {
    border-bottom: 4px solid #5988ff;
    border-left: 4px solid #5988ff;
  }
  100% {
    border-bottom: 4px solid #5988ff;
    border-left: 4px solid #5988ff;
  }
}

@keyframes revertColor {
  0% {
    border-bottom: 4px solid #5988ff;
    border-left: 4px solid #5988ff;
  }
  100% {
    border-bottom: 4px solid black;
    border-left: 4px solid black;
  }
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1850px) {
  header {
    padding-left: 60px;
    padding-right: 60px;
  }

  .menu-button {
    right: 60px;
  }

  .menu-info {
    p {
      font-size: 80px;
      &::after {
        width: 32px;
        height: 41px;
      }
      &:hover::after {
        left: 190px;
      }
    }
    span {
      width: 480px;
    }
  }
}

@media (max-width: 1300px) {
  .menu-info {
    p {
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 1000px) {
  header {
    padding-left: 40px;
    padding-right: 40px;
  }

  .menu-button {
    right: 40px;
  }

  .menu-info {
    p {
      margin-bottom: 50px;
      &::after {
        width: 28px;
        height: 35px;
      }
      font-size: 70px;
      &:hover::after {
        left: 130px;
      }
    }
    span {
      width: 420px;
    }
  }
}

@media (max-width: 650px) {

  .menu-info {
    p {
      margin-bottom: 50px;
      font-size: 40px;
      &::after {
        width: 23px;
        height: 33px;
      }
      &:hover::after {
        left: 50px;
      }
    }
    span {
      width: 257px;
    }
  }
}
