<body>
  <header>
    <div class="logo">
      <p>[
        <span class="letter letterY">Y</span>
        <span class="letter letterF">F</span>
        ]
      </p>
    </div>
    <div id="menuButton" class="menu-button" (click)="toggleActive()">
      <svg class="ham hamRotate ham4" [class.active]="isActive" viewBox="15 15 70 70" width="50">
        <path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
        <path class="line middle" d="m 70,50 h -40" />
        <path class="line bottom"
          d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
      </svg>
    </div>
  </header>
  <div class="menu" [class.active]="isActive">
    <div class="menu-info">
      <span>
        <p>About me</p>
      </span>
      <span>
        <p>My skills</p>
      </span>
      <span>
        <p>Portfolio</p>
      </span>
    </div>
    <div class="menu-socials">
      <div class="text-email">
        <span>
          <p class="text">Say Hi!</p>
          <p class="email">y.filiz.ch@gmail.com</p>
        </span>
      </div>
      <div class="social-network">
        <div>
          <img src="assets/img/github.svg" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>
    </div>
  </div>
</body>
