.about-me-section {
  height: 100vh;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about-me {
  height: 100%;
}

.about-me-headline-img {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-headline-text-img {
  height: 100%;
  width: 1239px;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-padding {
    padding-right: 32px;
  }

  div {
    margin-top: 0;
    margin-bottom: 0;
    div {
      display: flex;
      justify-content: center;
      margin-top: 96px;
      button {
        width: 213px;
        height: 68px;
        border: 4px solid #000;
        background-color: #fffcf3;
        font-size: 23px;
        font-family: "Overpass";
        cursor: pointer;
        transition: ease-in-out 100ms;
        text-align: center;
        line-height: 64px;
        &:hover {
          width: 253px;
          font-weight: 600;
        }
      }
    }
    h1{
      font-size: 78px;
      font-family: "Syne";
      font-weight: 800;
      margin: 0;
      margin-bottom: 48px;
      transition: ease-in-out 100ms;
      &:hover{
        color: #5988ff;
      }
    }
    p{
      margin: 0;
      font-size: 23px;
      font-family: "Overpass";
      text-align: justify;
    }
  }
}

.about-me-img {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
  .img-with-border {
    position: relative;

    img {
      height: 554.4px;
      width: 424px;
      margin-left: 32px;
      margin-bottom: 64px;
    }
    .img-border {
      position: absolute;
      top: -96px;
      right: 0;
      height: 546.4px;
      width: 416px;
      border: 4px solid transparent;
      transition: border-color 150ms ease-in-out, top 150ms ease-in-out, right 150ms ease-in-out;

      &:hover {
        border-color: #000;
        top: -80px;
        right: -17px;
      }
    }
  }
}

.arrow-down {
  height: 20%;
  display: flex;
  justify-content: center;
  div {
    width: 1239px;
    display: flex;
    justify-content: flex-end;
    img {
      cursor: pointer;
      object-fit: cover;
      margin-right: 140px;
    }
  }
}
