<div class="about-me-section">
  <div class="about-me">
    <div class="about-me-headline-img">
      <div class="about-me-headline-text-img">
        <div class="text-padding" #animatedElement>
          <h1>About me</h1>
          <p>I'm a junior front-end developer based in Wolfhalden, Switzerland. I specialize in turning creative ideas into digital solutions. I enjoy working with designers and companies to create user-friendly and visually appealing products.</p><br>
          <p>I'm looking for a junior web developer role where I can continue to learn and refine my skills. I'm eager to contribute my technical knowledge and problem-solving abilities to a collaborative team.</p><br>
          <p>If you think I could add value to your projects, let's connect and discuss how we can work together to create effective web solutions. Feel free to get in touch!</p>
          <div>
            <button (click)="scrollToElement('contact')">Let's talk</button>
          </div>
        </div>
        <div class="about-me-img" #animatedElement>
          <div class="img-with-border">
            <img src="assets/img/photo.jpg" alt="">
            <div class="img-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-down" (click)="scrollToElement('mySkills')" #animatedElement>
      <div>
        <img src="assets/img/arrow-scroll-down-left.png" alt="" draggable="false">
      </div>
    </div>
  </div>
</div>
