<div class="about-me-section">
  <div class="about-me">
    <div class="about-me-headline-img">
      <div class="about-me-headline-text-img">
        <div class="text-padding" #animatedElement>
          <h1>About me</h1>
          <p>I'm a junior Front-end developer based in Wolfhalden, Switzerland. I like turning creative ideas into
            digital solutions. I enjoy working with designers and companies, helping them realize their ideas while
            making sure the end product is user-friendly and visually pleasing.</p><br>
          <p>I'm ready to take the next step in my career and find a junior web developer role that allows me to learn
            and refine my skills. I'm excited about the opportunity to contribute my technical knowledge and creative
            problem-solving to a collaborative team.</p><br>
          <p>If you think I could be a good addition to your projects, I'd be happy to talk. Let's discuss how we can
            work together to create effective and up-to-date web solutions. Feel free to get in touch!</p>
          <div>
            <button (click)="scrollToElement('contact')">Let's talk</button>
          </div>
        </div>
        <div class="about-me-img" #animatedElement>
          <div class="img-with-border">
            <img src="assets/img/photo.jpg" alt="">
            <div class="img-border"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="arrow-down" (click)="scrollToElement('mySkills')" #animatedElement>
      <div>
        <img src="assets/img/arrow-scroll-down-left.png" alt="" draggable="false">
      </div>
    </div>
  </div>
</div>
