.title-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-headline {
  animation: slideInFromLeft 1s ease-out;
  height: 80vh;
  width: 920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  h1 {
    margin: 0;
    font-size: 128px;
    font-weight: 800;
  }
}

.line-name {
  animation: slideInFromRight 1s ease-out;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  p {
    margin: 0;
    font-size: 48px;
    font-weight: 600;
    font-family: "Overpass";
    color: #5988ff;
  }

  .line {
    width: 680px;
    border-bottom: 3px solid black;
  }
}

.title-email-scroll {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Overpass";
}

.title-email {
  opacity: 0;
  animation: show 500ms ease-out 1s forwards;
  display: flex;
  align-items: flex-end;
  width: 50%;
  padding-left: 30px;
  margin-bottom: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  p {
    transition: ease-in-out 100ms;
    cursor: pointer;
    transform: rotate(-90deg);
    margin: 0;
    &:hover {
      color: #5988ff;
    }
  }
}

.title-scroll {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: fit-content;
  width: 50%;
  padding-right: 60px;
  margin-bottom: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-text {
  transform: scale(0);
  animation: showScroll 500ms ease-out 1.5s forwards;
  width: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Overpass";
  img {
    margin-bottom: 30px;
    width: 30px;
    animation: scroll 1.5s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(-31px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(450%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show {
  100% {
    opacity: 1;
  }
}

@keyframes showScroll {
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1850px) {
  .title-headline {
    h1 {
      font-size: 100px;
    }
  }

  .line-name {
    justify-content: center;
    p {
      font-size: 37px;
      margin-left: 16px;
    }

    .line {
      width: 530px;
      border-bottom: 3px solid black;
    }
  }
}

@media (max-width: 1000px) {
  .title-headline {
    width: 100%;
    h1 {
      font-size: 70px;
    }
  }

  .line-name {
    justify-content: center;
    p {
      font-size: 26px;
      margin-left: 16px;
    }

    .line {
      width: 380px;
      border-bottom: 3px solid black;
    }
  }
}

@media (max-width: 650px) {
  .title-headline {
    width: 100%;
    h1 {
      font-size: 50px;
    }
  }

  .line-name {
    justify-content: center;
    p {
      font-size: 20px;
      margin-left: 16px;
    }

    .line {
      width: 250px;
      border-bottom: 3px solid black;
    }
  }
}

@media (max-width: 420px) {
  .title-headline {
    h1 {
      font-size: 40px;
    }
  }

  .line-name {
    justify-content: center;
    margin-top: 15px;
    p {
      font-size: 20px;
      margin-left: 16px;
    }

    .line {
      width: 185px;
      border-bottom: 3px solid black;
    }
  }
}

@media (max-width: 400px) {
  .title-headline {
    h1 {
      font-size: 36px;
    }
  }

  .line-name {
    justify-content: center;
    margin-top: 15px;
    p {
      font-size: 20px;
      margin-left: 16px;
    }

    .line {
      width: 150px;
      border-bottom: 3px solid black;
    }
  }

  .title-email {
    padding-left: 0px !important;
  }
}
