<div class="title-section">
  <div class="title-headline">
    <h1>Frontend</h1>
    <h1>Developer</h1>
    <div class="line-name">
      <div class="line"></div>
      <p>Yusuf Filiz</p>
    </div>
  </div>
  <div class="title-email-scroll">
    <div class="title-email">
      <p>y.filiz.ch@gmail.com</p>
    </div>
    <div class="title-scroll">
      <div class="arrow-text" (click)="scrollToElement('aboutMe')">
        <img src="assets/img/scroll-arrow.svg" alt="" draggable="false">
        Scroll <br>
        Down
      </div>
    </div>
  </div>
</div>
