<div class="contact-section">
  <div class="contact-legal-notice">
    <div class="contact">
      <h1>Say Hi!</h1>
      <p class="contact-form-headline">Want to discuss a new project?</p>
      <p class="contact-form-text">Feel free to reach out and share your ideas. Let's collaborate to bring them to life!</p>
      <div class="contact-form">
        <div class="form-input-container">
          <label id="nameLabel">Your name</label>
          <input id="nameInput"
            (focus)="nameLabelUp(); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled', false); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled-label', true);"
            (focusout)="nameLabelDown(); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled', false); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled-label', true);"
            (input)="updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled', false); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled-label', true);"
            type="text">
        </div>
        <div class="form-input-container">
          <label id="emailLabel">Your email</label>
          <input id="emailInput"
            (focus)="emailLabelUp(); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled', false); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled-label', true);"
            (focusout)="emailLabelDown(); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled', false); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled-label', true);"
            (input)="updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled', false); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled-label', true);"
            type="email">
        </div>
        <div class="textarea-container">
          <label id="textLabel" class="textarea-label">Your message</label>
          <textarea id="textArea" class="contact-message"
          (focus)="textLabelUp(); onFocus($event); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled', false); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled-label', true);"
          (focusout)="textLabelDown(); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled', false); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled-label', true);"
          (input)="updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled', false); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled-label', true);"></textarea>
        </div>
        <button>Send message</button>
      </div>
    </div>
    <div class="scroll-up">
      <div class="scroll-up-container" (click)="scrollToElement('title')">
        <img src="assets/img/arrow.svg" alt="">
      </div>
    </div>
    <div class="legal-notice">
      <div class="logo-socials">
        <div class="logo">
          <div (click)="scrollToElement('title')">
            <p>[
              <span class="letter letterY">Y</span>
              <span class="letter letterF">F</span>
              ]
            </p>
          </div>
          <div class="icons">
            <div (click)="navigateTo('https://github.com/YusufFiliz95')">
              <img src="assets/img/github.svg" alt="" id="githubLink">
            </div>
            <div>
              <img src="assets/img/email.svg" alt="">
            </div>
            <div (click)="navigateTo('https://www.linkedin.com/in/yusuf-filiz-b75b2a196')">
              <img src="assets/img/linkedin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="name-legal-notice">
        <p class="name-date">© Yusuf Filiz 2023</p>
        <p class="legal-notice-text">Legal notice</p>
      </div>
    </div>
  </div>
</div>
