<div class="contact-section">
  <div class="contact-legal-notice">
    <div class="contact">
      <h1>Say Hi!</h1>
      <p class="contact-form-headline">Want to discuss a new project?</p>
      <p class="contact-form-text">Feel free to reach out and share your ideas. Let's collaborate to bring them to life!</p>
      <div class="contact-form">
        <div class="form-input-container">
          <label id="nameLabel">Your name</label>
          <input id="nameInput"
            (focus)="nameLabelUp(); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled', false); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled-label', true);"
            (focusout)="nameLabelDown(); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled', false); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled-label', true);"
            (input)="updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled', false); updateFormFilledStatus($event, 'nameInput', 'nameLabel', 'form-filled-label', true);"
            type="text">
        </div>
        <div class="form-input-container">
          <label id="emailLabel">Your email</label>
          <input id="emailInput"
            (focus)="emailLabelUp(); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled', false); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled-label', true);"
            (focusout)="emailLabelDown(); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled', false); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled-label', true);"
            (input)="updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled', false); updateFormFilledStatus($event, 'emailInput', 'emailLabel', 'form-filled-label', true);"
            type="email">
        </div>
        <div class="textarea-container">
          <label id="textLabel" class="textarea-label">Your message</label>
          <textarea id="textArea" class="contact-message"
          (focus)="textLabelUp(); onFocus($event); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled', false); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled-label', true);"
          (focusout)="textLabelDown(); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled', false); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled-label', true);"
          (input)="updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled', false); updateFormFilledStatus($event, 'textArea', 'textLabel', 'form-filled-label', true);"></textarea>
        </div>
        <button>Send message</button>
      </div>
    </div>
    <div class="scroll-up">
      <div class="scroll-up-container" (click)="scrollToElement('title')">
        <img src="assets/img/arrow.svg" alt="">
      </div>
    </div>
    <div class="legal-notice">
      <div class="logo-socials">
        <div class="logo">
          <div (click)="scrollToElement('title')">
            <p>[
              <span class="letter letterY">Y</span>
              <span class="letter letterF">F</span>
              ]
            </p>
          </div>
          <div class="icons">
            <div (click)="navigateTo('https://github.com/YusufFiliz95')">
              <img src="assets/img/github.svg" alt="" id="githubLink">
            </div>
            <div>
              <img src="assets/img/email.svg" alt="">
            </div>
            <div (click)="navigateTo('https://www.linkedin.com/in/yusuf-filiz-b75b2a196')">
              <img src="assets/img/linkedin.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="name-legal-notice">
        <p class="name-date">© Yusuf Filiz 2023</p>
        <p class="legal-notice-text" (click)="showLegalNotice()">Legal notice</p>
      </div>
    </div>
  </div>
</div>
<div  class="legal-notice-container" [class.show]="isLegalNoticeVisible">
  <div class="close-legal-notice-container">
    <img src="assets/img/close.svg" alt="" (click)="hideLegalNotice()">
  </div>
  <h1>Impressum</h1>
<p><b>Verantwortliche Instanz:</b><br/>
  Yusuf Filiz<br/>
  Friedberg 1315<br/>
  9427 Wolfhalden<br/>
  Schweiz<br/>
  <strong>E-Mail</strong>: y.filiz.ch@gmail.com<br/>
  <br/>
  <strong>Haftungsausschluss</strong><br/>
  Der Autor übernimmt keine Gewähr für die Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.<br/>
  Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, die aus dem Zugriff oder der Nutzung bzw.
  Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen
  entstanden sind, werden ausgeschlossen.<br/>
  <br/>
  Alle Angebote sind freibleibend. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu
  löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.<br/>
  <br/>
  <strong>Haftungsausschluss für Inhalte und Links</strong><br/>
  Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen
  Nutzers.<br/>
  <br/>
  <strong>Urheberrechtserklärung</strong><br/>
  Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich Yusuf Filiz oder den speziell
  genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des
  Urheberrechtsträgers im Voraus einzuholen.<br/>
  <br/>
  <strong>Quelle</strong>: <a style='color:inherit;text-decoration:none;' rel='nofollow' href='https://brainbox.swiss/'>BrainBox Solutions</a></p>

  <h1>Datenschutzerklärung</h1>
<p>Stand: 3. Mai 2023</p>
<h2>Inhaltsübersicht</h2>
<ul class="index">
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm716')">Präambel</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm3')">Verantwortlicher</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'mOverview')">Übersicht der Verarbeitungen</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm13')">Maßgebliche Rechtsgrundlagen</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm27')">Sicherheitsmaßnahmen</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm25')">Übermittlung von personenbezogenen Daten</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm12')">Löschung von Daten</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm225')">Bereitstellung des Onlineangebotes und Webhosting</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm182')">Kontakt- und Anfragenverwaltung</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm136')">Präsenzen in sozialen Netzwerken (Social Media)</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm328')">Plugins und eingebettete Funktionen sowie Inhalte</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm15')">Änderung und Aktualisierung der Datenschutzerklärung</a></li>
  <li><a class="index-link" href="#" (click)="scrollTo($event, 'm42')">Begriffsdefinitionen</a></li>
</ul>

<h2 id="m716">Präambel</h2>
<p>Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer personenbezogenen Daten
  (nachfolgend auch kurz als "Daten“ bezeichnet) wir zu welchen Zwecken und in welchem Umfang verarbeiten. Die
  Datenschutzerklärung gilt für alle von uns durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen der
  Erbringung unserer Leistungen als auch insbesondere auf unseren Webseiten, in mobilen Applikationen sowie innerhalb
  externer Onlinepräsenzen, wie z.B. unserer Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als
  "Onlineangebot“).</p>
<p>Die verwendeten Begriffe sind nicht geschlechtsspezifisch.</p>
<h2 id="m3">Verantwortlicher</h2>
<p>Yusuf Filiz<br>Friedberg 1315<br>9427, Wolfhalden</p>
E-Mail-Adresse: <p><a href="mailto:y.filiz.ch@gmail.com">y.filiz.ch@gmail.com</a></p>
Telefon: <p>0041782056972</p>
<h2 id="mOverview">Übersicht der Verarbeitungen</h2>
<p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und
  verweist auf die betroffenen Personen.</p>
<h3>Arten der verarbeiteten Daten</h3>
<ul>
  <li>Kontaktdaten.</li>
  <li>Inhaltsdaten.</li>
  <li>Nutzungsdaten.</li>
  <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
</ul>
<h3>Kategorien betroffener Personen</h3>
<ul>
  <li>Kommunikationspartner.</li>
  <li>Nutzer.</li>
</ul>
<h3>Zwecke der Verarbeitung</h3>
<ul>
  <li>Kontaktanfragen und Kommunikation.</li>
  <li>Sicherheitsmaßnahmen.</li>
  <li>Verwaltung und Beantwortung von Anfragen.</li>
  <li>Feedback.</li>
  <li>Marketing.</li>
  <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
  <li>Informationstechnische Infrastruktur.</li>
</ul>
<h3 id="m13">Maßgebliche Rechtsgrundlagen</h3>
<p>Im Folgenden erhalten Sie eine Übersicht der Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten
  verarbeiten. Bitte nehmen Sie zur Kenntnis, dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem
  bzw. unserem Wohn- oder Sitzland gelten können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich
  sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.</p>
<ul>
  <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong> - Die
    Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur
    Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.</li>
  <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - Die Verarbeitung ist zur Wahrung der
    berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder
    Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern,
    überwiegen.</li>
</ul>
<p>Zusätzlich zu den Datenschutzregelungen der DSGVO gelten nationale Regelungen zum Datenschutz in der Schweiz. Hierzu
  gehört insbesondere das Bundesgesetz zum Datenschutz (DSG). Das DSG gilt insbesondere dann, wenn keine EU/EWG-Bürger
  betroffen sind und z.B. nur Daten von Schweizer Bürgern verarbeitet werden.</p>
<h2 id="m27">Sicherheitsmaßnahmen</h2>
<p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
  Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
  unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher
  Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu
  gewährleisten.</p>
<p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch
  Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe,
  der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die
  eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten
  gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl
  von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch
  datenschutzfreundliche Voreinstellungen.</p>
<h2 id="m25">Übermittlung von personenbezogenen Daten</h2>
<p>Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an andere Stellen,
  Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen übermittelt oder sie ihnen gegenüber
  offengelegt werden. Zu den Empfängern dieser Daten können z.B. mit IT-Aufgaben beauftragte Dienstleister oder Anbieter
  von Diensten und Inhalten, die in eine Webseite eingebunden werden, gehören. In solchen Fällen beachten wir die
  gesetzlichen Vorgaben und schließen insbesondere entsprechende Verträge bzw. Vereinbarungen, die dem Schutz Ihrer
  Daten dienen, mit den Empfängern Ihrer Daten ab.</p>
<h2 id="m12">Löschung von Daten</h2>
<p>Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht, sobald deren zur Verarbeitung
  erlaubten Einwilligungen widerrufen werden oder sonstige Erlaubnisse entfallen (z.B. wenn der Zweck der Verarbeitung
  dieser Daten entfallen ist oder sie für den Zweck nicht erforderlich sind). Sofern die Daten nicht gelöscht werden,
  weil sie für andere und gesetzlich zulässige Zwecke erforderlich sind, wird deren Verarbeitung auf diese Zwecke
  beschränkt. D.h., die Daten werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus
  handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Speicherung zur Geltendmachung, Ausübung
  oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person
  erforderlich ist. </p>
<p>Unsere Datenschutzhinweise können ferner weitere Angaben zu der Aufbewahrung und Löschung von Daten beinhalten, die
  für die jeweiligen Verarbeitungen vorrangig gelten.</p>
<h2 id="m225">Bereitstellung des Onlineangebotes und Webhosting</h2>
<p>Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu können. Zu diesem Zweck
  verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer Online-Dienste an
  den Browser oder das Endgerät der Nutzer zu übermitteln.</p>
<ul class="m-elements">
  <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
    Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern,
    Einwilligungsstatus); Inhaltsdaten (z.B. Eingaben in Onlineformularen).</li>
  <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
  <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit;
    Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und technischen Geräten
    (Computer, Server etc.).); Sicherheitsmaßnahmen.</li>
  <li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
</ul>
<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
<ul class="m-elements">
  <li><strong>Erhebung von Zugriffsdaten und Logfiles: </strong>Der Zugriff auf unser Onlineangebot wird in Form von so
    genannten "Server-Logfiles" protokolliert. Zu den Serverlogfiles können die Adresse und Name der abgerufenen
    Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über erfolgreichen Abruf,
    Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite) und im Regelfall
    IP-Adressen und der anfragende Provider gehören.

    Die Serverlogfiles können zum einen zu Zwecken der Sicherheit eingesetzt werden, z.B., um eine Überlastung der
    Server zu vermeiden (insbesondere im Fall von missbräuchlichen Angriffen, sogenannten DDoS-Attacken) und zum
    anderen, um die Auslastung der Server und ihre Stabilität sicherzustellen; <strong>Rechtsgrundlagen:</strong>
    Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); <strong>Löschung von Daten:</strong>
    Logfile-Informationen werden für die Dauer von maximal 30 Tagen gespeichert und danach gelöscht oder anonymisiert.
    Daten, deren weitere Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen
    Vorfalls von der Löschung ausgenommen.</li>
  <li><strong>E-Mail-Versand und -Hosting: </strong>Die von uns in Anspruch genommenen Webhosting-Leistungen umfassen
    ebenfalls den Versand, den Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden die Adressen der
    Empfänger sowie Absender als auch weitere Informationen betreffend den E-Mailversand (z.B. die beteiligten Provider)
    sowie die Inhalte der jeweiligen E-Mails verarbeitet. Die vorgenannten Daten können ferner zu Zwecken der Erkennung
    von SPAM verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails im Internet grundsätzlich nicht
    verschlüsselt versendet werden. Im Regelfall werden E-Mails zwar auf dem Transportweg verschlüsselt, aber (sofern
    kein sogenanntes Ende-zu-Ende-Verschlüsselungsverfahren eingesetzt wird) nicht auf den Servern, von denen sie
    abgesendet und empfangen werden. Wir können daher für den Übertragungsweg der E-Mails zwischen dem Absender und dem
    Empfang auf unserem Server keine Verantwortung übernehmen; <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen
    (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
</ul>
<h2 id="m182">Kontakt- und Anfragenverwaltung</h2>
<p>Bei der Kontaktaufnahme mit uns (z.B. per Post, Kontaktformular, E-Mail, Telefon oder via soziale Medien) sowie im
  Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen verarbeitet soweit
  dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
<ul class="m-elements">
  <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben
    in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-,
    Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
  </li>
  <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
  <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation; Verwaltung und Beantwortung von
    Anfragen; Feedback (z.B. Sammeln von Feedback via Online-Formular); Bereitstellung unseres Onlineangebotes und
    Nutzerfreundlichkeit.</li>
  <li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO); Vertragserfüllung
    und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</li>
</ul>
<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
<ul class="m-elements">
  <li><strong>Kontaktformular: </strong>Wenn Nutzer über unser Kontaktformular, E-Mail oder andere Kommunikationswege
    mit uns in Kontakt treten, verarbeiten wir die uns in diesem Zusammenhang mitgeteilten Daten zur Bearbeitung des
    mitgeteilten Anliegens; <strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6
    Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
</ul>
<h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
<p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Daten der Nutzer, um
  mit den dort aktiven Nutzern zu kommunizieren oder um Informationen über uns anzubieten.</p>
<p>Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen Union verarbeitet werden
  können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so z.B. die Durchsetzung der Rechte der Nutzer
  erschwert werden könnte.</p>
<p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und Werbezwecke
  verarbeitet. So können z.B. anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer
  Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb
  und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen Zwecken
  werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen
  der Nutzer gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern
  verwendeten Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind und
  bei diesen eingeloggt sind).</p>
<p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten (Opt-Out)
  verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.</p>
<p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass diese am
  effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils Zugriff auf die Daten der
  Nutzer und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen,
  dann können Sie sich an uns wenden.</p>
<ul class="m-elements">
  <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z.B. E-Mail, Telefonnummern); Inhaltsdaten (z.B. Eingaben
    in Onlineformularen); Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten); Meta-,
    Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern, Einwilligungsstatus).
  </li>
  <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
  <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation; Feedback (z.B. Sammeln von Feedback
    via Online-Formular); Marketing.</li>
  <li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
</ul>
<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
<ul class="m-elements">
  <li><strong>LinkedIn: </strong>Soziales Netzwerk; <strong>Dienstanbieter:</strong> LinkedIn Irland Unlimited Company,
    Wilton Plaza Wilton Place, Dublin 2, Irland; <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs.
    1 S. 1 lit. f) DSGVO); <strong>Website:</strong> <a href="https://www.linkedin.com"
      target="_blank">https://www.linkedin.com</a>; <strong>Datenschutzerklärung:</strong> <a
      href="https://www.linkedin.com/legal/privacy-policy"
      target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>Auftragsverarbeitungsvertrag:</strong>
    <a href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>;
    <strong>Standardvertragsklauseln (Gewährleistung Datenschutzniveau bei Verarbeitung in Drittländern):</strong> <a
      href="https://legal.linkedin.com/dpa" target="_blank">https://legal.linkedin.com/dpa</a>;
    <strong>Widerspruchsmöglichkeit (Opt-Out):</strong> <a
      href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
      target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.</li>
</ul>
<h2 id="m328">Plugins und eingebettete Funktionen sowie Inhalte</h2>
<p>Wir binden in unser Onlineangebot Funktions- und Inhaltselemente ein, die von den Servern ihrer jeweiligen Anbieter
  (nachfolgend bezeichnet als "Drittanbieter”) bezogen werden. Dabei kann es sich zum Beispiel um Grafiken, Videos oder
  Stadtpläne handeln (nachfolgend einheitlich bezeichnet als "Inhalte”).</p>
<p>Die Einbindung setzt immer voraus, dass die Drittanbieter dieser Inhalte die IP-Adresse der Nutzer verarbeiten, da
  sie ohne die IP-Adresse die Inhalte nicht an deren Browser senden könnten. Die IP-Adresse ist damit für die
  Darstellung dieser Inhalte oder Funktionen erforderlich. Wir bemühen uns, nur solche Inhalte zu verwenden, deren
  jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Drittanbieter können ferner
  sogenannte Pixel-Tags (unsichtbare Grafiken, auch als "Web Beacons" bezeichnet) für statistische oder Marketingzwecke
  verwenden. Durch die "Pixel-Tags" können Informationen, wie der Besucherverkehr auf den Seiten dieser Webseite,
  ausgewertet werden. Die pseudonymen Informationen können ferner in Cookies auf dem Gerät der Nutzer gespeichert werden
  und unter anderem technische Informationen zum Browser und zum Betriebssystem, zu verweisenden Webseiten, zur
  Besuchszeit sowie weitere Angaben zur Nutzung unseres Onlineangebotes enthalten als auch mit solchen Informationen aus
  anderen Quellen verbunden werden.</p>
<ul class="m-elements">
  <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten,
    Zugriffszeiten); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben, Identifikationsnummern,
    Einwilligungsstatus).</li>
  <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
  <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
  <li><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
</ul>
<p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
<ul class="m-elements">
  <li><strong>Google Fonts (Bereitstellung auf eigenem Server): </strong>Bereitstellung von Schriftarten-Dateien zwecks
    einer nutzerfreundlichen Darstellung unseres Onlineangebotes; <strong>Dienstanbieter:</strong> Die Google Fonts
    werden auf unserem Server gehostet, es werden keine Daten an Google übermittelt; <strong>Rechtsgrundlagen:</strong>
    Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
</ul>
<h2 id="m15">Änderung und Aktualisierung der Datenschutzerklärung</h2>
<p>Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren. Wir passen die
  Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten Datenverarbeitungen dies erforderlich
  machen. Wir informieren Sie, sobald durch die Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder
  eine sonstige individuelle Benachrichtigung erforderlich wird.</p>
<p>Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen und Organisationen
  angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit ändern können und bitten die Angaben vor
  Kontaktaufnahme zu prüfen.</p>
<h2 id="m42">Begriffsdefinitionen</h2>
<p>In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung verwendeten
  Begrifflichkeiten. Viele der Begriffe sind dem Gesetz entnommen und vor allem im Art. 4 DSGVO definiert. Die
  gesetzlichen Definitionen sind verbindlich. Die nachfolgenden Erläuterungen sollen dagegen vor allem dem Verständnis
  dienen. Die Begriffe sind alphabetisch sortiert.</p>
<ul class="glossary">
  <li><strong>Personenbezogene Daten:</strong> "Personenbezogene Daten“ sind alle Informationen, die sich auf eine
    identifizierte oder identifizierbare natürliche Person (im Folgenden "betroffene Person“) beziehen; als
    identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu
    einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu
    einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen,
    genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
  </li>
  <li><strong>Verantwortlicher:</strong> Als "Verantwortlicher“ wird die natürliche oder juristische Person, Behörde,
    Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung
    von personenbezogenen Daten entscheidet, bezeichnet. </li>
  <li><strong>Verarbeitung:</strong> "Verarbeitung" ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgeführte
    Vorgang oder jede solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und
    umfasst praktisch jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln oder das
    Löschen. </li>
</ul>
<p class="seal"><a href="https://datenschutz-generator.de/"
    title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
    rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas Schwenke</a></p>

</div>

