.contact-section {
  width: 100%;
  color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .contact-legal-notice {
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: polygon(0% 0%, 0% 8%, 100% 24%, 100% 100%, 0% 100%);

    .contact {
      height: 80%;
      width: 100%;

      h1 {
        width: fit-content;
        margin: 0;
        padding-top: 200px;
        padding-left: 70px;
        font-family: "Syne";
        font-style: normal;
        font-weight: 800;
        font-size: 78px;
        margin-bottom: 50px;
        transition: 100ms ease-in-out;
      }

      .contact-form-headline {
        margin: 0;
        color: #5988ff;
        font-family: "Overpass";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
      }

      .contact-form-text {
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-bottom: 60px;
        margin-left: 32px;
        margin-right: 32px;
      }

      p {
        text-align: center;
      }
    }

    .legal-notice {
      height: 14%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .form-input-container {
        position: relative;
        display: flex;
        flex-direction: column;
        img {
          width: 30px;
          position: absolute;
          right: 10px;
          top: 15px;
          transform: rotate(-5deg);
        }
        label {
          position: absolute;
          top: 21px;
          left: 10px;
          padding-left: 8px;
          padding-right: 8px;
          transition: top 0.3s ease, color 0.3s ease;
          background-color: #000000;
          color: #fffcf3;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
        }
      }

      .required-text {
        text-align: start;
        margin: 0;
        font-size: 16px;
        margin-top: 6px;
        color: #e61c40;
        font-family: "Overpass";
      }

      .required-text-input {
        text-align: start;
        margin: 0;
        font-size: 16px;
        margin-top: 11px;
        color: #e61c40;
        font-family: "Overpass";
      }

      input {
        position: relative;
        line-height: 10px;
        width: 599px;
        height: 30px;
        background: transparent;
        border: 0;
        box-shadow: 0 2px 0 0 #fffcf3;
        padding-right: 49px;
        padding-left: 19px;
        padding-top: 17px;
        padding-bottom: 13px;
        gap: 10px;
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #fffcf3;
        transition: 100ms ease-in-out;
        z-index: 1;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 0 4px #fffcf3;
        }
      }

      input:focus {
        outline: none;
        box-shadow: 0 0 0 2px #fffcf3 !important;
        cursor: text;
      }

      .input-name-label-focused {
        top: -11px !important;
        z-index: 2;
        color: #fffcf3;
      }

      .input-email-label-focused {
        top: -11px !important;
        z-index: 2;
        color: #fffcf3;
      }

      .textarea-container {
        position: relative;
        img {
          width: 30px;
          position: absolute;
          right: 10px;
          top: 10px;
          transform: rotate(-5deg);
        }
      }

      .textarea-label {
        position: absolute;
        top: 25px;
        left: 10px;
        padding-left: 8px;
        padding-right: 8px;
        transition: top 0.3s ease, color 0.3s ease;
        background-color: #000000;
        color: #fffcf3;
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
      }

      .textarea-label-focused {
        top: -11px;
        color: #fffcf3;
        z-index: 2;
      }

      .contact-message {
        width: 617px;
        height: 202px;
        background: transparent;
        border: 0;
        box-shadow: 0 2px 0 0 #fffcf3;
        padding-right: 30px;
        padding-left: 20px;
        padding-top: 25px;
        padding-bottom: 25px;
        gap: 10px;
        font-family: "Overpass";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #fffcf3;
        resize: none;
        cursor: pointer;
        transition: 100ms ease-in-out;
        position: relative;
        z-index: 1;
        &:hover {
          box-shadow: 0 0 0 4px #fffcf3;
        }
      }

      .contact-message::-webkit-scrollbar {
        width: 8px;
        background-color: transparent;
      }

      .contact-message::-webkit-scrollbar-track {
        width: 8px;
        background-color: #000000;
      }

      .contact-message::-webkit-scrollbar-thumb {
        background-color: #5988ff;
        width: 6px;
        border-radius: 6px;
      }

      .contact-message::-webkit-scrollbar-thumb:hover {
        background-color: #8fafff;
      }

      .contact-message::-webkit-scrollbar-button {
        display: none;
      }

      .contact-message:focus {
        outline: none;
        box-shadow: 0 0 0 2px #fffcf3;
        cursor: text;
      }

      .form-filled {
        transition: 100ms ease-in-out;
        box-shadow: 0 0 0 2px #fffcf3;
        &:hover {
          box-shadow: 0 0 0 4px #fffcf3;
        }
      }

      .form-filled-label {
        color: #5988ff !important;
      }

      button:disabled {
        background-color: grey !important;
        color: rgb(0, 0, 0) !important;
        cursor: not-allowed !important;
      }

      button {
        margin-top: -10px;
        width: 250px;
        height: 68px;
        border: 4px solid #fffcf3;
        background-color: transparent;
        color: #fffcf3;
        font-size: 23px;
        font-family: "Overpass";
        transition: 100ms ease-in-out;
        cursor: pointer;
        text-align: center;
        line-height: 62px;
        &:hover {
          width: 300px;
          font-weight: 800;
        }
      }
    }
  }
}

.logo-socials {
  width: 100%;

  .logo {
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      margin-left: 2px;
      margin-right: 1px;
      cursor: pointer;
    }

    p {
      cursor: pointer;
      margin: 0;
      padding: 0;
      font-size: 40px;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Roboto", sans-serif;
    }

    .letterY {
      position: relative;
      left: 2px;
    }

    .letterF {
      position: relative;
      top: 8px;
      right: 2px;
    }
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    width: 200px;
    div {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 40px;
    }
    img {
      width: 30px;
      cursor: pointer;
      transition: 150ms ease-in-out;
      &:hover {
        padding-bottom: 20px;
      }
    }
  }
}

.name-legal-notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .name-date {
    margin: 0;
    margin-left: 80px;
    font-size: 23px;
    font-family: "Overpass";
    transition: 100ms ease-in-out;
    &:hover {
      color: #5988ff;
    }
  }

  .legal-notice-text {
    font-family: "Overpass";
    font-size: 16px;
    margin-right: 80px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    &:hover {
      color: #5988ff;
    }
  }
}

.scroll-up {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .scroll-up-container {
    margin-top: 90px;
    height: fit-content;
    margin-right: 69px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 150ms ease-in-out;
    cursor: pointer;

    img {
      transition: transform 150ms ease;
    }

    &:hover img {
      transform: translateY(-40px);
    }
  }
}

.legal-notice-container {
  position: fixed;
  overflow: auto;
  z-index: 9;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #fffcf3;
  transform: translateY(100%);
  font-family: "Overpass";
  transition: transform 400ms ease-out;
  p {
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
  }

  h1 {
    margin-left: 40px;
    margin-right: 40px;
  }

  h2 {
    margin-left: 60px;
    margin-right: 60px;
  }

  h3 {
    margin-left: 80px;
    margin-right: 80px;
  }

  ul {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.legal-notice-container.show {
  transform: translateY(0);
}

.legal-notice-container::-webkit-scrollbar {
  width: 7px;
}

.legal-notice-container::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

.legal-notice-container::-webkit-scrollbar-thumb {
  background-color: #5988ff;
}

.legal-notice-container::-webkit-scrollbar-thumb:hover {
  background-color: #8fafff;
}

.close-legal-notice-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  height: 80px;
  width: 100%;
  background-color: #fffcf3;
  border-bottom: 1px solid black;
  right: 0;
  top: 0;
  color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .language-german {
    transition: 100ms ease-in-out;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    &:hover {
      background-color: #00000020;
    }
  }

  .language-english {
    transition: 100ms ease-in-out;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    &:hover {
      background-color: #00000020;
    }
  }

  .language-to-choose {
    color: #000000;
  }

  .chosen-language {
    color: #5988ff;
  }

  p {
    margin: 0;
    margin-right: 8px;
    font-family: "Syne";
    font-weight: 600;
  }
  img {
    margin: 16px;
    width: 40px;
    transition: 100ms ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: #00000020;
    }
  }
}

.hide {
  opacity: 0;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideInDown {
  opacity: 0;
  animation-name: slideInDown;
  animation-duration: 500ms;
  animation-fill-mode: both;
}

@media (max-width: 1316px) {
  .contact {
    h1 {
      font-size: 45px !important;
      padding-left: 20px !important;
    }
  }
}

@media (max-width: 1000px) {
  .legal-notice-container {
    position: fixed;
    overflow: auto;
    z-index: 9;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #fffcf3;
    transform: translateY(100%);
    font-family: "Overpass";
    transition: transform 400ms ease-out;
    p {
      text-align: justify;
    }

    h1 {
      margin-left: 20px;
      margin-right: 20px;
    }

    h2 {
      margin-left: 30px;
      margin-right: 30px;
    }

    h3 {
      margin-left: 40px;
      margin-right: 40px;
    }

    ul {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

@media (max-width: 800px) {
  .contact-form-headline {
    font-size: 23px !important;
  }

  .contact-form-text {
    font-size: 16px !important;
  }

  .contact-form {
    input {
      width: 280px !important;
    }

    textarea {
      width: 296px !important;
    }

    button {
      width: 175px !important;
      height: 48px !important;
      border: 3px solid #fffcf3 !important;
      font-size: 17px !important;
      line-height: 43px !important;
      &:hover {
        font-weight: 400 !important;
      }
    }
  }

  .logo {
    margin-left: 20px !important;
  }

  .name-date {
    margin-left: 20px !important;
  }

  .legal-notice-text {
    margin-right: 20px !important;
  }

  .icons {
    margin-right: 20px !important;
  }

  .scroll-up-container {
    margin-right: 9px !important;
  }
}

@media (max-width: 640px) {
  .contact-form {
    button {
      width: 140px !important;
      height: 40px !important;
      border: 3px solid #fffcf3 !important;
      font-size: 14px !important;
      line-height: 34px !important;
      &:hover {
        font-weight: 400 !important;
      }
    }

    textarea {
      height: 140px !important;
    }
  }
  .logo {
    p {
      font-size: 26px !important;
    }
  }

  .name-date {
    font-size: 18px !important;
  }

  .icons {
    width: 148px !important;
    img {
      width: 25px !important;
    }
  }

  .scroll-up-container {
    margin-top: -60px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 500px) {
  .contact {
    h1 {
      font-size: 35px !important;
      padding-left: 10px !important;
    }
  }

  .contact-form {
    button {
      width: 140px !important;
      height: 40px !important;
      border: 3px solid #fffcf3 !important;
      font-size: 14px !important;
      line-height: 34px !important;
      &:hover {
        font-weight: 400 !important;
      }
    }

    textarea {
      height: 140px !important;
    }
  }
  .logo {
    p {
      font-size: 26px !important;
    }
  }

  .name-date {
    font-size: 18px !important;
  }

  .icons {
    width: 123px !important;
    img {
      width: 23px !important;
    }
  }

  .scroll-up-container {
    margin-top: -10px !important;
    margin-bottom: 20px !important;
    img {
      width: 50px !important;
      height: 50px !important;
    }
  }
}

