.portfolio-section {
  padding-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.portfolio-headline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
  h1 {
    font-family: "Syne";
    font-style: normal;
    font-weight: 800;
    font-size: 78px;
    margin: 0;
    margin-bottom: 8px;
  }

  p {
    font-family: "Overpass";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    margin: 0;
  }
}

.projects-section {
  width: 1239px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;

  .project {
    display: flex;
    justify-content: space-between;
    height: 380px;
    width: 100%;
    margin-bottom: 160px;

    .project-image-container {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      z-index: 1;

      .project-image {
        width: 570px;
        height: 380px;
        object-fit: cover;
        filter: grayscale(100%) blur(0.5px);
        transition: filter 150ms;
      }

      .project-border {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 562px;
        height: 372px;
        border: 4px solid transparent;
        left: 24px;
        top: 0px;
        transition: border-color 150ms ease-in-out, top 150ms ease-in-out,
          left 150ms ease-in-out;

        .project-arrow {
          position: absolute;
          right: -41px;
          transform: rotate(135deg); //Soll 0 sein
          opacity: 0;
          transition: opacity 150ms ease-in-out 150ms,
            transform 150ms ease-in-out 300ms;
          transition-delay: 0s, 0s;
        }
      }

      .project-border-reverse {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 562px;
        height: 372px;
        border: 4px solid transparent;
        left: 25px;
        top: 0px;
        transition: border-color 150ms ease-in-out, top 150ms ease-in-out,
          left 150ms ease-in-out;

        .project-arrow-reverse {
          position: absolute;
          left: -40px;
          transform: rotate(135deg);
          opacity: 0;
          transition: opacity 150ms ease-in-out 150ms,
            transform 150ms ease-in-out 150ms;
          transition-delay: 0s, 0s;
        }
      }
    }
    .project-description-container {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .project-number {
        width: 100%;
        height: 13%;
        transition: 150ms ease-in-out;

        p {
          text-align: end;
          margin: 0;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
        }
      }
      .project-number-reverse {
        width: 100%;
        height: 13%;
        transition: 150ms ease-in-out;

        p {
          text-align: start;
          margin: 0;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
        }
      }

      .project-info {
        width: 100%;
        height: 87%;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 250ms ease-in-out 150ms,
          transform 250ms ease-in-out 150ms;

        .project-name {
          padding-left: 100px;
          margin-bottom: 20px;
          font-family: "Syne";
          font-style: normal;
          font-weight: 800;
          font-size: 45px;
        }

        .project-tech-stack {
          padding-left: 100px;
          margin-top: 0;
          margin-bottom: 12px;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 400;
          font-size: 23px;
          color: #5988ff;
        }

        .project-description {
          padding-left: 100px;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          text-align: justify;
        }
      }

      .project-info-reverse {
        width: 100%;
        height: 87%;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 250ms ease-in-out 150ms,
          transform 250ms ease-in-out 150ms;

        .project-name-reverse {
          padding-left: 0;
          padding-right: 32px;
          margin-bottom: 20px;
          font-family: "Syne";
          font-style: normal;
          font-weight: 800;
          font-size: 45px;
        }

        .project-tech-stack-reverse {
          padding-left: 0;
          padding-right: 32px;
          margin-top: 0;
          margin-bottom: 12px;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 400;
          font-size: 23px;
          color: #5988ff;
        }

        .project-description-reverse {
          padding-left: 0;
          padding-right: 100px;
          font-family: "Overpass";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          text-align: justify;
        }
      }

      .project-buttons {
        padding-left: 100px;
        padding-top: 16px;
        button {
          width: 140px;
          height: 58px;
          border: 4px solid #000;
          background-color: #fffcf3;
          padding: 10px 30px;
          margin-top: 16px;
          margin-right: 16px;
          font-size: 21px;
          font-family: "Overpass";
          cursor: pointer;
          transition: ease-in-out 100ms;
          &:hover {
            width: 180px;
            font-weight: 600;
          }
        }
      }

      .project-buttons-reverse {
        padding-left: 0;
        padding-top: 16px;
        button {
          width: 140px;
          height: 58px;
          border: 4px solid #000;
          background-color: #fffcf3;
          padding: 10px 30px;
          margin-top: 16px;
          margin-right: 16px;
          font-size: 21px;
          font-family: "Overpass";
          cursor: pointer;
          transition: ease-in-out 100ms;
          &:hover {
            width: 180px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.project:hover .project-border {
  border-color: #000 !important;
  left: 48px !important;
  top: 24px !important;
}

.project:hover .project-border-reverse {
  border-color: #000 !important;
  left: 1px !important;
  top: 24px !important;
}

.project:hover .project-arrow-reverse {
  opacity: 1 !important;
  transform: rotate(270deg) !important;
  transition-delay: 50ms, 150ms !important;
}

.project:hover .project-arrow {
  opacity: 1 !important;
  transform: rotate(0deg) !important;
  transition-delay: 50ms, 150ms !important;
}

.project:hover .project-info-reverse {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.project:hover .project-info {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.project:hover .project-number {
  color: #5988ff;
}

.project:hover .project-image {
  filter: grayscale(0%) !important;
}

.arrow-down {
  height: 20%;
  display: flex;
  justify-content: center;
  div {
    width: 1239px;
    display: flex;
    justify-content: flex-end;
    img {
      cursor: pointer;
      object-fit: cover;
      margin-right: 140px;
    }
  }
}

.animate-from-left {
  animation: 500ms ease-out 0s 1 slideInFromLeft forwards;
}

.animate-from-right {
  animation: 500ms ease-out 0s 1 slideInFromRight forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-from-left {
  animation: 500ms ease-out 0s 1 slideInFromLeft;
}

.animate-from-right {
  animation: 500ms ease-out 0s 1 slideInFromRight;
}

.d-none {
  opacity: 0 !important;
}

.project {
  transition: pointer-events 0.5s;
}

.no-click {
  pointer-events: none;
}

.project {
  transition: pointer-events 0.5s;
  transition-delay: 0.5s;
}

.project-number-column {
  display: none;
}

@media (max-width: 1315px) {

  .arrow-down {
    width: 100% !important;
    img {
      margin-right: 32px !important;
    }
  }

  .projects-section {
    width: 571px;
    .project {
      flex-direction: column;
      align-items: center;
      height: fit-content !important;
      margin-bottom: 130px !important;
      .project-description-container {
        width: 100% !important;
      }
      .project-info {
        width: 100%;
        height: 87%;
        opacity: 1 !important;
        transform: none !important;
        .project-name {
          padding-left: 0px !important;
          margin-bottom: 20px;
        }

        .project-tech-stack {
          padding-left: 0px !important;
          margin-top: 0;
          margin-bottom: 12px;
        }

        .project-description {
          padding-left: 0px !important;
        }

        .project-buttons {
          padding-left: 0px !important;
        }
      }

      .project-image-container {
        .project-image {
          filter: none !important;
          object-fit: cover !important;
          height: max-content;
        }
        .project-border {
          display: none !important;
        }
      }
    }
  }

  .animate-from-left {
    animation: none;
  }

  .animate-from-right {
    animation: none;
  }

  .project-number-column {
    display: block;
    width: 100%;
    p {
      margin: 0;
      font-family: "Overpass";
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
    }
  }

  .project-number {
    display: none;
  }
}

@media (max-width: 740px) {
  .project-image-container {
    width: fit-content !important;

    .project-image {
      width: 100% !important;
    }
  }

  .portfolio-headline {
    margin-bottom: 80px;
    h1 {
      font-size: 50px;
    }

    p {
      font-size: 16px;
    }
  }
}


@media (max-width: 600px) {
  .projects-section {
    width: 90%;
  }

  .arrow-down {
    width: 100% !important;
    img {
      margin-right: 32px !important;
      width: 120px;
      height: 120px;
    }
  }
}


@media (max-width: 538px) {
  .project-info {
    .project-name {
      padding-left: 0px !important;
      margin-bottom: 20px;
      font-size: 28px !important;
    }

    .project-tech-stack {
      padding-left: 0px !important;
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 16px !important;
    }

    .project-description {
      padding-left: 0px !important;
    }

    .project-buttons {
      padding-left: 0px !important;
    }
  }
}
