<div class="my-skills-section">
  <div class="my-skills-container">
    <span>
      <p>My Skills</p>
    </span>
    <div class="skills-icon-container">
      <div class="icons">
        <div class="icon" *ngFor="let icon of icons; let i = index" (mouseover)="onMouseOver(i)" (mouseleave)="onMouseLeave(i)">
          <img class="icon-img" [src]="icons[i]" [alt]="skills[i]">
          <img class="icon-img" [src]="iconshover[i]" [alt]="skills[i]" [class.fade]="!flips[i]">
          <p>{{ skills[i] }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
