body {
  background-color: #fff;
  font-family: 'Syne';
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background-image: url(assets/img/backgroundimg.jpg);
  background-repeat: repeat;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5988ff;
  border-radius: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}
