body {
  background-color: #fff;
  font-family: 'Syne';
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background-image: url(assets/img/backgroundimg.jpg);
  background-repeat: repeat;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #5988ff;
  border-radius: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}
