body {
  background-color: #fff;
  font-family: "Syne";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  background-image: url(assets/img/backgroundimg.jpg);
  background-repeat: repeat;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  width: 8px;
  background-color: #fffcf3;
}

body::-webkit-scrollbar-thumb {
  background-color: #5988ff;
  width: 7px;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #8fafff;
}

body::-webkit-scrollbar-button {
  display: none;
}

.no-scroll {
  overflow: hidden;
}
